body {
    background-color: mediumseagreen;
}
h1 {
    color: white;
}

.tasks-header {
    text-align: center;
    text-transform: uppercase;
}

.btn_small {
    height: 30px;
    line-height: 30px;
    margin: 5px;
    width: 30px;
    text-align: center;
    padding: 0px;
}