{% extends 'base.html' %}
{% block content %}
<div>
<ul class="collapsible" data-collapsible="accordion">
    {% for task in tasks %}
    <li>
    <div class="collapsible-header">
        <div class="col s3">
            <i class="material-icons">expand_more</i>
            <a href="{{url_for('delete_task', task_id=task._id)}}"class="waves-effect waves-light btn btn_small"><i class="material-icons">check</i></a>
            <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue"><i class="material-icons">edit</i></a>
            <a href="{{url_for('delete_task', task_id=task._id)}}"class="waves-effect waves-light btn btn_small red"><i class="material-icons">delete</i></a>
        </div>
        <div class="col s9">
            <strong>{{task.task_name}} </strong>   - {{task.due_date}}
        </div>
    </div>
    <div class="collapsible-body"><span><br>
        <strong>Category:</strong> {{task.category_name}}
        <br>
        <strong>Description:</strong> {{task.task_description}}
        <br>
        <strong>Urgent: </strong>{{task.is_urgent}}
    </span></div>
    </li>      
    {% endfor %}
</ul>
</div>
<div class="row">
<a href="{{url_for('add_tasks')}}" class="waves-effect waves-light btn">Add Task <i class="material-icons">playlist_add</i></a>
</div>
{% endblock %}
