{% extends 'base.html' %}
{% block content %}
<ul class="collapsible" data-collapsible="accordion">
    {% for task in tasks %}
    <li>
    <div class="collapsible-header"><i class="material-icons">expand_more</i><strong>{{task.task_name}} </strong>   - {{task.due_date}}</div>
    <div class="collapsible-body"><span><br>
        <strong>Category:</strong> {{task.category_name}}
        <br>
        <strong>Description:</strong> {{task.task_description}}
        <br>
        <strong>Urgent: </strong>{{task.is_urgent}}
    </span></div>
    </li>      
    {% endfor %}
  </ul>
{% endblock %}
